
.todo {
    margin-bottom: 30px;
}

.nonPriority {
    cursor: pointer;
}

.todo span {
    color: #044404;
    font-weight: bold;
}

.priority {
    cursor: pointer;
    background-color: orange;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 7px;
}

.btnMargin {
    margin-left: 7px;
}
