
.cartWrapperView {
    width: 700px;
    height: 600px;
    background-color: white;
    overflow: scroll;
    padding: 10px;
}

.cartView {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rearView {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.titleView {
    display: flex;
    justify-content: space-between;
}

.closeIcon {
    color: #de0c0c;
}
